@using MyEveryNoteProject.WebApp
@using MyEveryNoteProject.Entities
@model EveryNoteUser
@{
    Layout = "~/Views/Shared/_InternalLayout.cshtml";
}



   <div class="container" style="text-align:-webkit-center;">


    <div class="main main-raised">
        <div class="profile-content">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 ml-auto mr-auto">
                        <div class="profile">
                            <div class="avatar">
                                <img src="~/images/userimg/@Model.ProfileImageFileName" alt="Circle Image" style="max-width:40%;height:auto;" class="img-raised rounded-circle embed-responsive"> @*Burasi*@
                            </div>
                            <div class="name">
                                <h3 class="title">@Model.Username</h3>
                                @*<h6>Designer</h6>*@
                                @*<a href="#pablo" class="btn btn-just-icon btn-link btn-dribbble"><i class="fa fa-dribbble"></i></a>
                                <a href="#pablo" class="btn btn-just-icon btn-link btn-twitter"><i class="fa fa-twitter"></i></a>
                                <a href="#pablo" class="btn btn-just-icon btn-link btn-pinterest"><i class="fa fa-pinterest"></i></a>*@
                            </div>
                        </div>
                    </div>
                </div>
                <div class="description text-center" style="margin:40px;">
                    <p>An artist of considerable range, Chet Faker &#x2014; the name taken by Melbourne-raised, Brooklyn-based Nick Murphy &#x2014; writes, performs and records all of his own music, giving it a warm, intimate feel with a solid groove structure. </p>
                </div>
                <div class="row">
                    <div class="col-md-6 ml-auto mr-auto">
                        <div class="profile-tabs">
                            <ul class="nav nav-pills nav-pills-icons justify-content-center" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" href="#studio" role="tab" data-toggle="tab">
                                        <i class="far fa-thumbs-up"></i> My Favourite
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#works" role="tab" data-toggle="tab">
                                        <i class="far fa-heart"></i> My Liked
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#favorite" role="tab" data-toggle="tab">
                                        <i class="far fa-clock"></i> My Post
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="tab-content tab-space" style="margin:50px;">
                    <div class="tab-pane active text-center gallery" id="studio">
                        <div class="row">
                            <div class="col-md-6 ml-auto">
                                <img src="~/Content/Profile Page/assets/img/examples/studio-1.jpg" class="rounded"> @*Burasi*@
                                <img src="~/Content/Profile Page/assets/img/examples/studio-2.jpg" class="rounded"> @*Burasi*@
                            </div>
                            <div class="col-md-6 mr-auto">
                                <img src="~/Content/Profile Page/assets/img/examples/studio-5.jpg" class="rounded"> 
                                <img src="~/Content/Profile Page/assets/img/examples/studio-4.jpg" class="rounded">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane text-center gallery" id="works">
                        <div class="row">
                            <div class="col-md-6 ml-auto">
                                <img src="~/Content/Profile Page/assets/img/examples/olu-eletu.jpg" class="rounded"> @*Burasi*@
                                <img src="~/Content/Profile Page/assets/img/examples/clem-onojeghuo.jpg" class="rounded"> @*Burasi*@
                                <img src="~/Content/Profile Page/assets/img/examples/cynthia-del-rio.jpg" class="rounded"> @*Burasi*@
                            </div>
                            <div class="col-md-6 mr-auto">
                                <img src="~/Content/Profile Page/assets/img/examples/mariya-georgieva.jpg" class="rounded"> @*Burasi*@
                                <img src="~/Content/Profile Page/assets/img/examples/clem-onojegaw.jpg" class="rounded"> @*Burasi*@
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane text-center gallery" id="favorite">
                        <div class="row">
                            <div class="col-md-6 ml-auto">
                                <img src="~/Content/Profile Page/assets/img/examples/mariya-georgieva.jpg" class="rounded"> @*Burasi*@
                                <img src="~/Content/Profile Page/assets/img/examples/studio-3.jpg" class="rounded"> @*Burasi*@
                            </div>
                            <div class="col-md-6 mr-auto">
                                <img src="~/Content/Profile Page/assets/img/examples/clem-onojeghuo.jpg" class="rounded"> @*Burasi*@
                                <img src="~/Content/Profile Page/assets/img/examples/olu-eletu.jpg" class="rounded"> @*Burasi*@
                                <img src="~/Content/Profile Page/assets/img/examples/studio-1.jpg" class="rounded"> @*Burasi*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

   </div>

<style>
    img{
        max-width:50%;
        margin:10px;
    }
</style>