.editable {
    /*color: #495057;*/
    background-color: antiquewhite;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    color: brown;
}
.btneditdefault{
    color:orange !important;
}
.btndedit {
    color: deepskyblue !important;
}
.btndelete {
    color: #dc3545 !important;
}